/nbproject/private/
/nbproject

indexLocal.js
backup
node_modules

sources/static/css/lessFiles/chat.css
sources/static/css/lessFiles/general.css
sources/static/css/lessFiles/info.css
sources/static/css/lessFiles/menuTop.css
sources/static/css/lessFiles/modals.css
sources/static/css/lessFiles/popap.css
sources/static/css/lessFiles/section1.css
sources/static/css/lessFiles/section2.css
sources/static/css/lessFiles/sectionReview.css
sources/static/css/lessFiles/startFind.css
sources/static/css/lessFiles/startSection.css
sources/static/css/lessFiles/variables.css
sources/static/css/lessFiles/media.css