<!-- gamerbro.ru-->
<!DOCTYPE html>
<html lang="ru">
<head>
  <% include chank/inHead.ejs %>
</head>
<body>
  <% include chank/menu.ejs %>
  <% include chank/modal.ejs %>
  <% include chank/modalChat.ejs %>
  <% include chank/info.ejs %>  
  
  <!-- include chank/allRooms.ejs -->
  <!-- include chank/review.ejs -->

  <% include chank/fixedElements.ejs %>
  <% include chank/allScript.ejs %>
</body>
</html>
