<section class="s-preview">
    <a name="s-preview"></a>
    <div class="s-preview__bg"></div>

    <div class="s-preview__wrap">

        <div class="s-preview__title-wrap">
            <p class="s-preview__title">GamerBro, find your team</p>
        </div>

        <div class="s-preview__info">
            <div class="s-preview__item">
                <div class="s-preview__itemExtra">
                    <span class="s-preview__subtitle">О сервисе</span>
                    <span class="s-preview__text">
                        <span class="weight">GamerBro</span>
                        это бесплатный сервис для поиска игроков
                        в&nbsp;режиме реального времени.
                        Тебе достаточно нажать пару кнопок, а <span class="weight">GamerBro</span>
                        постарается найти тебе хорошую команду!
                    </span>
                </div>
            </div>

            <div class="s-preview__item">
                <div class="s-preview__itemExtra">
                    <span class="s-preview__subtitle">Как начать поиск</span>

                    <ul class="s-preview__ul">
                        <li class="s-preview__li">
                            <p class="s-preview__li-mark "><span class="icon-arrow-down"></span></p>
                            <a class="s-preview__button button__search"> Начать поиск команды! </a>
                        </li>
                        <li class="s-preview__li">
                            <p class="s-preview__li-mark "><span class="icon-arrow-down"></span></p>
                            Заполнить информацию
                        </li>
                        <li class="s-preview__li">
                            <p class="s-preview__li-mark "><span class="icon-arrow-down"></span></p>
                            Нажать поехали
                        </li>
                        <li class="s-preview__li">
                            <p class="s-preview__li-mark "><span class="icon-arrow-down"></span></p>
                            Подождать...
                        </li>
                        <li class="s-preview__li">
                            <p class="s-preview__li-mark "><span class="icon-arrow-down"></span></p>
                            Вежливо начать общение и начать играть!
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="s-preview__info s-preview__guidWrap">
            <div class="s-preview__guidWrap-item">
                <span class="s-preview__subtitle">Гайд по сайту</span>
                <div class="s-preview__wrapZoom">

                    <div class="s-preview__wrapZoom-modal">
                        <div class="icon-zoom s-preview__wrapZoom-icon"></div>
                    </div>

                    <img class="fancybox s-preview__guidImg" src="static/img/guid.gif" alt="">
                </div>
            </div>
        </div>

        <!-- Поиск по играм -->
        <div class="s-preview__available" style="text-align: left;">
            <span class="s-preview__availableTitle">Доступен поиск по играм:</span>

            <!-- Отображаем все доступные игры -->
            <div class="s-preview__games">               
                <% Object.keys(gamesAll).forEach(function(item){ %>
                <div class="s-preview__game s-preview__game_available">
                    <span class="s-preview__game_val"><%- item %></span>
                    <span class="s-preview__game_allUsers">
                        <span class="icon-users"></span><%- gamesAll[item]["allUsersNow"] %>
                    </span>
                </div>
                <% }); %>
                <span class="s-preview__game s-preview__game_enable"> Pokemon Go </span>
            </div>
        </div>
    </div>
    <!--
  <div class="s-preview__nextSection nextSection" data-href="beginFind">
    <a href="#" class="icon-arrow-down-sign-to-navigate s-preview__nextSection-icon"></a>
  </div> -->
</section>