<meta charset="utf-8" />
<title>Главная</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/static/font/icon/style.css">
<link rel="stylesheet" href="/static/css/main.css">