<div class="menu">
  <div class="menu__globWrap">
    <div class="menu__logo"></div>
    <div class="menu__wrap">
      <a href="#" class="menu__item" data-href="about">
        <span>Главная</span>
        <span class="icon-team menu__icon"></span>
      </a>
      <a href="#" data-href="about" class="menu__item button__search">
        <span>Начать поиск</span>
        <span class="icon-star-full menu__icon"></span>
      </a>
    </div>
  </div>
</div>