<section class="s-review">
  <h2 class="s-review__title">Отзывы</h2>
  <div class="s-review__wrap">
    <div class="s-review__wrapAll">
      <div class="s-review__item">
        <span class="s-review__name">
          Имя: <span class="s-review__val">Красавчик14228</span>
        </span>
        <div class="s-review__deskrip">
          Отличный сервис и конкурсы замечательные,
          порадовал поиск, а главное фейковые комментарии 10 депутатов из 10.
          <div class="s-review__panel">
            <span class="s-review__likeCount">244</span>
            <span class="s-review__likeAction icon-star-full"></span>
          </div>
        </div>
      </div>


      <div class="s-review__item">
        <span class="s-review__name">
          Имя: <span class="s-review__val">Красавчик14228</span>
        </span>
        <div class="s-review__deskrip">
          Что я могу сказать о сервисе? <br />
          Нет, серьезно что?
          <div class="s-review__panel">
            <span class="s-review__likeCount">10</span>
            <span class="s-review__likeAction icon-star-full"></span>
          </div>
        </div>
      </div>


      <div class="s-review__item">
        <span class="s-review__name">
          Имя: <span class="s-review__val">Красавчик14228</span>
        </span>
        <div class="s-review__deskrip">
          А я просто нужен для проверки блока :(
          <div class="s-review__panel">
            <span class="s-review__likeCount">115</span>
            <span class="s-review__likeAction icon-star-full"></span>
          </div>
        </div>
      </div>

      <div class="s-review__item">
        <span class="s-review__name">
          Имя: <span class="s-review__val">Красавчик14228</span>
        </span>
        <div class="s-review__deskrip">
          А я просто нужен для проверки блока :(
          <div class="s-review__panel">
            <span class="s-review__likeCount">115</span>
            <span class="s-review__likeAction icon-star-full"></span>
          </div>
        </div>
      </div>

      <div class="s-review__item">
        <span class="s-review__name">
          Имя: <span class="s-review__val">Красавчик14228</span>
        </span>
        <div class="s-review__deskrip">
          А я просто нужен для проверки блока :(
          <div class="s-review__panel">
            <span class="s-review__likeCount">115</span>
            <span class="s-review__likeAction icon-star-full"></span>
          </div>
        </div>
      </div>

      <div class="s-review__item">
        <span class="s-review__name">
          Имя: <span class="s-review__val">Красавчик14228</span>
        </span>
        <div class="s-review__deskrip">
          А я просто нужен для проверки блока :(
          <div class="s-review__panel">
            <span class="s-review__likeCount">115</span>
            <span class="s-review__likeAction icon-star-full"></span>
          </div>
        </div>
      </div>

    </div>
    <p class="s-review__more">Еще</p>

    <div class="s-review__form">
      <h3 class="s-review__formTitle">Оставить отзыв</h3>
      <div class="s-review__formWrap">
        <div class="s-review__formBlock">
          <label>
            <span class="s-review__labelDeskrip">Имя:</span>
            <input class="s-review__input" placeholder="Имя/ник">
          </label>
        </div>
        <div class="s-review__formBlock">
          <textarea class="s-review__textarea" placeholder=" Пожалуйста, напиши что тебя больше всего понравилось и что нужно доработать, нам важно твое мнение!">
          </textarea>
          <div class="s-review__formButton-wrap">
            <span class="s-review__formButton">Отправить</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
