<!-- Первая секция "Поиск" -->
<section class="s-search">
  <a name="search"></a>
  <h2 class="s-search__title">Поиск команды</h2>

  <!-- background -->
  <div class="s-search__left"></div>
  <div class="s-search__right"></div>
  <!-- end background -->

  <div class="s-search__img">
    <div class="s-search__block">
      <p class="s-search__logo s-search__logo_dota"></p>
      <a class="s-search__button button__search">
        Начать поиск команды
      </a>
    </div>
  </div>

  <div class="s-search__nextSection nextSection" data-href="review">
    <a href="#" class="icon-arrow-down-sign-to-navigate s-preview__nextSection-icon"></a>
  </div>
</section>
